* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #202020;
}

::-webkit-scrollbar-thumb {
  background-color: #585858;
  border-radius: 8px;
}

@keyframes enter {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes enterTwo {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  background-color: #1b1b1b;
  color: #eaeaea;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  border-bottom: 2px solid;
  border-image: radial-gradient(#eaeaea, #1b1b1b) 1;
  background-color: #282828;
  position: sticky;
  top: 0;
  width: 100%;
}

nav img {
  height: 80px;
  width: 80px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 20px;
  list-style: none;

  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: #eaeaea;
}

#home {
  display: grid;
  grid-template-areas: "about video";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100vh;
}

.col-a {
  grid-area: "about";
  display: flex;
  flex-direction: column;

  padding: 150px 20px;
  gap: 20px;

  animation: enter 1.5s ease-in-out;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}

.ul-home {
  display: flex;
  flex-direction: column;
}

.col-b {
  grid-area: "video";
  padding: 50px;

  animation: enterTwo 1.5s ease-in-out;
}

.col-b div {
  overflow: hidden;
  height: 525px;
  width: 525px;
  border-radius: 8px;
}

iframe {
  border-radius: 8px;
}

.col-b:hover iframe {
  transform: scale(1.1);
}
