* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #202020;
}

::-webkit-scrollbar-thumb {
  background-color: #585858;
  border-radius: 8px;
}

@keyframes enter {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes enterTwo {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  background-color: #1b1b1b;
  color: #eaeaea;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  border-bottom: 2px solid;
  border-image: radial-gradient(#eaeaea, #1b1b1b) 1;
  background-color: #282828;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

nav img {
  height: 80px;
  width: 80px;
}

.close {
  position: relative;
  padding-bottom: 6px;
}

.close:hover::after {
  width: 100%;
}

.close::after {
  content: "";
  height: 3px;
  width: 0%;
  background-color: chocolate;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 30px;
  list-style: none;

  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: #eaeaea;
}

section {
  height: 100vh;
}

#home {
  display: grid;
  grid-template-areas: "about video";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100vh;
}

.col-a {
  grid-area: "about";
  display: flex;
  flex-direction: column;

  padding: 100px 100px;

  animation: enter 1.5s ease-in-out;
}

.col-a h2 {
  font-size: 2rem;
  padding-bottom: 30px;
  color: #d2691e;
}

p {
  font-size: 1rem;
  color: #b6b6b6;
}

.ul-home {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  color: chocolate;
}

.col-b {
  grid-area: "video";
  padding: 50px;

  animation: enterTwo 1.5s ease-in-out;
}

.col-b div {
  overflow: hidden;
  height: 525px;
  width: 525px;
  border-radius: 8px;
}

iframe {
  border-radius: 8px;
  transition: all 0.3s ease-in;
}

.col-b div:hover iframe {
  transform: scale(1.1);
}

#event {
  background-color: #101010;
  text-align: center;
  padding: 50px;

  font-size: 2rem;
}

.container-slider {
  height: 100%;
  display: flex;
  align-items: center;
}

.container-images {
  height: 100%;
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  height: 500px;
  width: 900px;
  object-fit: cover;
  position: absolute;

  opacity: 0;
}

.selected {
  opacity: 1;
}

.bntSlider {
  background: transparent;
  border: none;
  z-index: 5;
  cursor: pointer;
  opacity: 0.5;
  display: flex;

  &:hover {
    opacity: 1;
  }
}

.bntSlider img {
  height: 50px;
  width: 50px;
}

#prev-button {
  transform: rotate(180deg);
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  gap: 50px;

  position: relative;

  font-size: 2rem;
}

.social-midia {
  display: flex;
  gap: 30px;
}

.social-midia img {
  height: 50px;
  width: 50px;
}

footer {
  height: 150px;
  width: 100%;
  background-color: #101010;
  text-align: center;
  padding: 50px;
  z-index: 9;
}

.links {
  margin-bottom: 20px;
}

footer a {
  margin-right: 15px;
}
